@-webkit-keyframes fly_symbol_5 {
	from {
		bottom: 0px;
		left: 350px;
	}

	to {
		-webkit-transform: translateY(90%);
		        transform: translateY(90%);
		-webkit-transform: translateX(30%);
		        transform: translateX(30%);
		bottom: 90%;
		left: 30%;
		-webkit-transform: rotate(-390deg);
		        transform: rotate(-390deg);
	}
}

@keyframes fly_symbol_5 {
	from {
		bottom: 0px;
		left: 350px;
	}

	to {
		-webkit-transform: translateY(90%);
		        transform: translateY(90%);
		-webkit-transform: translateX(30%);
		        transform: translateX(30%);
		bottom: 90%;
		left: 30%;
		-webkit-transform: rotate(-390deg);
		        transform: rotate(-390deg);
	}
}

@-webkit-keyframes fly_symbol_5-tablet {
	from {
		bottom: 0px;
		left: 350px;
	}

	to {
		-webkit-transform: translateY(90%);
		        transform: translateY(90%);
		-webkit-transform: translateX(90%);
		        transform: translateX(90%);
		bottom: 90%;
		left:90%;
		-webkit-transform: rotate(-380deg);
		        transform: rotate(-380deg);
	}
}

@keyframes fly_symbol_5-tablet {
	from {
		bottom: 0px;
		left: 350px;
	}

	to {
		-webkit-transform: translateY(90%);
		        transform: translateY(90%);
		-webkit-transform: translateX(90%);
		        transform: translateX(90%);
		bottom: 90%;
		left:90%;
		-webkit-transform: rotate(-380deg);
		        transform: rotate(-380deg);
	}
}

@-webkit-keyframes fly_symbol_5-mobile_wide {
	from {
		bottom: 235px;
		left: 50%;
	}

	to {
		-webkit-transform: translateY(85%);
		        transform: translateY(85%);
		-webkit-transform: translateX(85%);
		        transform: translateX(85%);
		bottom: 85%;
		left: 85%;
		-webkit-transform: rotate(375deg);
		        transform: rotate(375deg);
	}
}

@keyframes fly_symbol_5-mobile_wide {
	from {
		bottom: 235px;
		left: 50%;
	}

	to {
		-webkit-transform: translateY(85%);
		        transform: translateY(85%);
		-webkit-transform: translateX(85%);
		        transform: translateX(85%);
		bottom: 85%;
		left: 85%;
		-webkit-transform: rotate(375deg);
		        transform: rotate(375deg);
	}
}

@-webkit-keyframes fly_symbol_5-mobile_small {
	from {
		bottom: 250px;
		left: 50%;
	}

	to {
		-webkit-transform: translateY(92%);
		        transform: translateY(92%);
		-webkit-transform: translateX(75%);
		        transform: translateX(75%);
		bottom: 92%;
		left: 75%;
		-webkit-transform: rotate(375deg);
		        transform: rotate(375deg);
	}
}

@keyframes fly_symbol_5-mobile_small {
	from {
		bottom: 250px;
		left: 50%;
	}

	to {
		-webkit-transform: translateY(92%);
		        transform: translateY(92%);
		-webkit-transform: translateX(75%);
		        transform: translateX(75%);
		bottom: 92%;
		left: 75%;
		-webkit-transform: rotate(375deg);
		        transform: rotate(375deg);
	}
}

@-webkit-keyframes fly_symbol_4 {
	from {
		bottom: 0px;
		left: 350px;
	}

	to {
		-webkit-transform: translateY(27%);
		        transform: translateY(27%);
		-webkit-transform: translateX(45%);
		        transform: translateX(45%);
		bottom: 27%;
		left: 45%;
		-webkit-transform: rotate(390deg);
		        transform: rotate(390deg);
	}
}

@keyframes fly_symbol_4 {
	from {
		bottom: 0px;
		left: 350px;
	}

	to {
		-webkit-transform: translateY(27%);
		        transform: translateY(27%);
		-webkit-transform: translateX(45%);
		        transform: translateX(45%);
		bottom: 27%;
		left: 45%;
		-webkit-transform: rotate(390deg);
		        transform: rotate(390deg);
	}
}

@-webkit-keyframes fly_symbol_4_wide {
	from {
		bottom: 0px;
		left: 350px;
	}

	to {
		-webkit-transform: translateY(27%);
		        transform: translateY(27%);
		-webkit-transform: translateX(30%);
		        transform: translateX(30%);
		bottom: 27%;
		left: 30%;
		-webkit-transform: rotate(390deg);
		        transform: rotate(390deg);
	}
}

@keyframes fly_symbol_4_wide {
	from {
		bottom: 0px;
		left: 350px;
	}

	to {
		-webkit-transform: translateY(27%);
		        transform: translateY(27%);
		-webkit-transform: translateX(30%);
		        transform: translateX(30%);
		bottom: 27%;
		left: 30%;
		-webkit-transform: rotate(390deg);
		        transform: rotate(390deg);
	}
}

@-webkit-keyframes fly_symbol_4-tablet {
	from {
		bottom: 0px;
		left: 350px;
	}

	to {
		-webkit-transform: translateY(80%);
		        transform: translateY(80%);
		-webkit-transform: translateX(50%);
		        transform: translateX(50%);
		bottom: 80%;
		left: 50%;
		-webkit-transform: rotate(390deg);
		        transform: rotate(390deg);
	}
}

@keyframes fly_symbol_4-tablet {
	from {
		bottom: 0px;
		left: 350px;
	}

	to {
		-webkit-transform: translateY(80%);
		        transform: translateY(80%);
		-webkit-transform: translateX(50%);
		        transform: translateX(50%);
		bottom: 80%;
		left: 50%;
		-webkit-transform: rotate(390deg);
		        transform: rotate(390deg);
	}
}

@-webkit-keyframes fly_symbol_4-mobile_wide {
	from {
		bottom: 235px;
		left: 50%;
	}

	to {
		-webkit-transform: translateY(97%);
		        transform: translateY(97%);
		-webkit-transform: translateX(40%);
		        transform: translateX(40%);
		bottom: 97%;
		left: 35%;
		-webkit-transform: rotate(375deg);
		        transform: rotate(375deg);
	}
}

@keyframes fly_symbol_4-mobile_wide {
	from {
		bottom: 235px;
		left: 50%;
	}

	to {
		-webkit-transform: translateY(97%);
		        transform: translateY(97%);
		-webkit-transform: translateX(40%);
		        transform: translateX(40%);
		bottom: 97%;
		left: 35%;
		-webkit-transform: rotate(375deg);
		        transform: rotate(375deg);
	}
}

@-webkit-keyframes fly_symbol_4-mobile_small {
	from {
		bottom: 250px;
		left: 50%;
	}

	to {
		-webkit-transform: translateY(96%);
		        transform: translateY(96%);
		bottom: 96%;
		left: 50%;
		-webkit-transform: rotate(375deg);
		        transform: rotate(375deg);
	}
}

@keyframes fly_symbol_4-mobile_small {
	from {
		bottom: 250px;
		left: 50%;
	}

	to {
		-webkit-transform: translateY(96%);
		        transform: translateY(96%);
		bottom: 96%;
		left: 50%;
		-webkit-transform: rotate(375deg);
		        transform: rotate(375deg);
	}
}

@-webkit-keyframes fly_symbol_3 {
	from {
		bottom: 0px;
		left: 350px;
	}

	to {
		-webkit-transform: translateY(10%);
		        transform: translateY(10%);
		-webkit-transform: translateX(25%);
		        transform: translateX(25%);
		bottom: 10%;
		left: 25%;
		-webkit-transform: rotate(-375deg);
		        transform: rotate(-375deg);
	}
}

@keyframes fly_symbol_3 {
	from {
		bottom: 0px;
		left: 350px;
	}

	to {
		-webkit-transform: translateY(10%);
		        transform: translateY(10%);
		-webkit-transform: translateX(25%);
		        transform: translateX(25%);
		bottom: 10%;
		left: 25%;
		-webkit-transform: rotate(-375deg);
		        transform: rotate(-375deg);
	}
}

@-webkit-keyframes fly_symbol_3-tablet {
	from {
		bottom: 0px;
		left: 350px;
	}

	to {
		-webkit-transform: translateX(35%);
		        transform: translateX(35%);
		-webkit-transform: translateY(20%);
		        transform: translateY(20%);
		bottom: 20%;
		left: 35%;
		-webkit-transform: rotate(-375deg);
		        transform: rotate(-375deg);
	}
}

@keyframes fly_symbol_3-tablet {
	from {
		bottom: 0px;
		left: 350px;
	}

	to {
		-webkit-transform: translateX(35%);
		        transform: translateX(35%);
		-webkit-transform: translateY(20%);
		        transform: translateY(20%);
		bottom: 20%;
		left: 35%;
		-webkit-transform: rotate(-375deg);
		        transform: rotate(-375deg);
	}
}

@-webkit-keyframes fly_symbol_2 {
	from {
		bottom: 0px;
		left: 350px;
	}

	to {
		-webkit-transform: translateY(17%);
		        transform: translateY(17%);
		-webkit-transform: translateX(7%);
		        transform: translateX(7%);
		bottom: 17%;
		left: 7%;
		-webkit-transform: rotate(375deg);
		        transform: rotate(375deg);
	}
}

@keyframes fly_symbol_2 {
	from {
		bottom: 0px;
		left: 350px;
	}

	to {
		-webkit-transform: translateY(17%);
		        transform: translateY(17%);
		-webkit-transform: translateX(7%);
		        transform: translateX(7%);
		bottom: 17%;
		left: 7%;
		-webkit-transform: rotate(375deg);
		        transform: rotate(375deg);
	}
}

@-webkit-keyframes fly_symbol_2-mobile_wide {
	from {
		bottom: 235px;
		left: 50%;
	}

	to {
		-webkit-transform: translateY(75%);
		        transform: translateY(75%);
		-webkit-transform: translateX(10%);
		        transform: translateX(10%);
		bottom: 75%;
		left: 10%;
		-webkit-transform: rotate(375deg);
		        transform: rotate(375deg);
	}
}

@keyframes fly_symbol_2-mobile_wide {
	from {
		bottom: 235px;
		left: 50%;
	}

	to {
		-webkit-transform: translateY(75%);
		        transform: translateY(75%);
		-webkit-transform: translateX(10%);
		        transform: translateX(10%);
		bottom: 75%;
		left: 10%;
		-webkit-transform: rotate(375deg);
		        transform: rotate(375deg);
	}
}

@-webkit-keyframes fly_symbol_2-mobile_small {
	from {
		bottom: 250px;
		left: 50%;
	}

	to {
		-webkit-transform: translateY(80%);
		        transform: translateY(80%);
		-webkit-transform: translateX(15%);
		        transform: translateX(15%);
		bottom: 80%;
		left: 15%;
		-webkit-transform: rotate(375deg);
		        transform: rotate(375deg);
	}
}

@keyframes fly_symbol_2-mobile_small {
	from {
		bottom: 250px;
		left: 50%;
	}

	to {
		-webkit-transform: translateY(80%);
		        transform: translateY(80%);
		-webkit-transform: translateX(15%);
		        transform: translateX(15%);
		bottom: 80%;
		left: 15%;
		-webkit-transform: rotate(375deg);
		        transform: rotate(375deg);
	}
}

@-webkit-keyframes fly_symbol_1 {
	from {
		bottom: 0px;
		left: 350px;
	}

	to {
		-webkit-transform: translateY(-600px);
		        transform: translateY(-600px);
		-webkit-transform: translateX(290px);
		        transform: translateX(290px);
		bottom: 600px;
		left: 60px;
		-webkit-transform: rotate(375deg);
		        transform: rotate(375deg);
	}
}

@keyframes fly_symbol_1 {
	from {
		bottom: 0px;
		left: 350px;
	}

	to {
		-webkit-transform: translateY(90%);
		        transform: translateY(90%);
		-webkit-transform: translateX(7%);
		        transform: translateX(7%);
		bottom: 92%;
		left: 7%;
		-webkit-transform: rotate(375deg);
		        transform: rotate(375deg);
	}
}

@-webkit-keyframes fly_symbol_1-mobile_wide {
	from {
		bottom: 235px;
		left: 50%;
	}

	to {
		-webkit-transform: translateY(92%);
		        transform: translateY(92%);
		-webkit-transform: translateX(7%);
		        transform: translateX(7%);
		bottom: 92%;
		left: 7%;
		-webkit-transform: rotate(375deg);
		        transform: rotate(375deg);
	}
}

@keyframes fly_symbol_1-mobile_wide {
	from {
		bottom: 235px;
		left: 50%;
	}

	to {
		-webkit-transform: translateY(90%);
		        transform: translateY(90%);
		-webkit-transform: translateX(15%);
		        transform: translateX(15%);
		bottom: 90%;
		left: 15%;
		-webkit-transform: rotate(375deg);
		        transform: rotate(375deg);
	}
}

@-webkit-keyframes fly_symbol_1-mobile_small {
	from {
		bottom: 177px;
		left: 50%;
	}

	to {
		-webkit-transform: translateY(92%);
		        transform: translateY(92%);
		-webkit-transform: translateX(23%);
		        transform: translateX(23%);
		bottom: 92%;
		left: 23%;
		-webkit-transform: rotate(375deg);
		        transform: rotate(375deg);
	}
}

@keyframes fly_symbol_1-mobile_small {
	from {
		bottom: 177px;
		left: 50%;
	}

	to {
		-webkit-transform: translateY(92%);
		        transform: translateY(92%);
		-webkit-transform: translateX(23%);
		        transform: translateX(23%);
		bottom: 92%;
		left: 23%;
		-webkit-transform: rotate(375deg);
		        transform: rotate(375deg);
	}
}

