
.footer-content {
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	padding: 80px 0 90px 0;
}

.footer-menu__block {
	font-size: 18px;
	line-height: 2;
	color: #8993ad;
}

.footer-menu__link:hover {
	color: #ff4e2e;
	border-bottom: 1px solid #f82370;
}

.contacts-wrap ul {
	font-style: normal;
	font-size: 25px;
	line-height: 2.4;
	color: #000000;
}

.footer-bar {
	background-color: #31293c;
}

.footer-bar__copyright {
	text-align: center;
}

.footer-bar__copyright small {
	font-size: 16px;
	line-height: 60px;
	color: #ffffff;
}

.footer-btn {
	width: 250px;
	height: 45px;
	margin-top: 10px; 
}


.socials-list {
	margin-top: 20px;
}

.socials-list__item {
	display: inline-block;
	vertical-align: middle;
	margin-right: 30px;
}

.socials-list__link {
	display: inline-block;
	vertical-align: middle;
	width: 30px;
	height: 30px;
}

.icon-vk, .icon-facebook, .icon-twitter-bird, .icon-instagram {
	display: inline-block;
	vertical-align: middle;
	width: 34px;
	height: 34px;
	font-size: 22px;
	color: #8993ad;
}

.icon-vk:hover, 
.icon-facebook:hover, 
.icon-twitter-bird:hover, 
.icon-instagram:hover {
	-webkit-transition: 0.3s;
	-o-transition: 0.3s;
	transition: 0.3s;
	font-size: 26px;
	color: #ff4e2e;
}


